[2021-05-28 08:40] buremba opened #1 "Google Data Studio Integration"

[2021-05-28 08:43] buremba opened #2 "test"

[2021-05-28 08:43] #2 closed

[2021-05-28 11:03] emresemercioglu opened #6 "Tableau Integration"
We need to develop a Connector Plugin using the SDK:
https://tableau.github.io/connector-plugin-sdk/docs/
https://github.com/tableau/connector-plugin-sdk/tree/master/samples/scenarios/vendor_attributes/postgres_vendor
https://help.tableau.com/current/pro/desktop/en-us/examples_connector_sdk.htm

It should support basic auth and OAuth.

[2021-05-28 11:05] emresemercioglu opened #7 "PowerBI Integration"

[2021-05-28 11:05] emresemercioglu opened #8 "Metabase Integration"

[2021-05-28 11:05] emresemercioglu opened #9 "Looker Integration"

[2021-05-28 11:06] emresemercioglu opened #10 "Superset Integration"

[2021-05-29 12:16] buremba opened #11 "Implement `window` measures"
The traditional dimension & measure mechanism doesn't really work well with WINDOW functions because they do not work with GROUP BY and aggregation functions.

We can introduce a boolean property called `window` to measures and re-construct the window function in a subquery or use [QUALIFY](https://docs.snowflake.com/en/sql-reference/constructs/qualify.html) if it's supported by the underlying dat

[2021-05-29 12:24] buremba opened #12 "Add `metriql test` command"
The `test` command should execute a metadata query referencing all dimension & measure definitions with `LIMIT 0` on the underlying data warehouse and let the user know if there is any error in the field definitions.

[2021-05-30 01:53] buremba opened #13 "Metabase integration"
We should develop a Metabase Driver that uses our JDBC driver that connects to a remote metriql REST API. We don't know Closure so it would be great if someone from the community helps us build the driver.

SDK:
https://www.metabase.com/docs/latest/developers-guide-drivers.html
https://github.com/metabase/metabase/wiki/Writing-A-Driver

Examples:
https://github.com/AhaMove/metabase-http-driver/
ht

[2021-05-31 22:47] jpau commented on #8
Looks like a dup of #13 (or that a dup of this, but with more info :) )

[2021-05-31 22:55] jpau commented on #9
Thanks Emre! This would be great.

I wonder what the development workflow would look like. For example -- would the CLI generate `view` files only, or might it stub `model` files too? And after the initial creation, on further iterations, would the CLI track the LookML-specific parts that get updated? Or might the onus be on the user -- at least at the start -- to track those manually?

[2021-06-01 08:33] emresemercioglu commented on #8
Thanks for the catch, @jpau! I'm closing this one as it's a duplicate of #13.

[2021-06-01 08:33] #8 closed

[2021-06-01 17:25] buremba commented on #9
Hey @jpau , we will be generating `view` files a structure everything under a `model`. There is a similar project here as well:
https://github.com/lightdash/dbt2looker (See https://github.com/lightdash/dbt2looker/blob/main/example/lookml/hubble_analytics.model)

For the LookML specific attributes, you will be able to configure the fields as follows:

[code]

The `report.looker` spec will be identi

[2021-06-07 13:26] buremba commented on #7
Once we build the XMLA server, we will parse MDX queries and generate Segmentation Query and generate the SQL for the underlying database. I'm dropping a SO question that can help us understand the language:

https://stackoverflow.com/questions/56788153/convert-mdx-to-sql-statement

[2021-06-08 13:33] buremba commented on #13
Instead of building our own driver, we decided to use Metabase Presto/[Trino](https://github.com/metabase/metabase/pull/16194) driver. It's not that easy to maintain a driver and the users need to bundle metriql driver which brings additional friction.

Using Trino as an interface and connecting Metabase API to synchronize the measures seems to be much more convenient. [dbt-metabase](https://githu

[2021-06-08 13:41] buremba commented on #6
We decided to use Tableau's Presto data source as an interface because maintaining a connector plugin won't be reliable as we need to ship different plugins for different Tableau versions and install our driver explicitly. metriql simply acts as if it's a Presto cluster but returns virtual models as metadata and re-writes the MQL query as a segmentation query. See more info [here](https://metriql.

[2021-06-08 16:15] buremba commented on #10
Superset already integrates with Trino using their Python client. (https://github.com/trinodb/trino-python-client)

Metriql should just work fine with Trino integration and we can use their [REST API](https://superset.apache.org/docs/rest-api) in order to sync the metrics definitions.

[2021-06-15 22:14] buremba opened #14 "Airtable Integration"

[2021-06-18 15:23] buremba commented on #7
Here is an alternative method: https://github.com/trinodb/trino/issues/6886

[2021-06-20 20:30] buremba commented on #9
@UmarMajeed-Rana is working on this integration, thanks Umar!

[2021-06-20 20:31] buremba commented on #1
@HassamSaeed is working on GDS integration, thanks Hassam!

[2021-06-20 20:34] buremba commented on #1
@all-contributors please add @HassamSaeed for Google Data Studio integration

[2021-06-20 20:36] buremba commented on #9
@all-contributors please add @UmarMajeed-Rana for Looker integration.

[2021-06-20 20:39] buremba commented on #9
@all-contributors please add @UmarMajeed-Rana for code, platform.

[2021-07-01 12:23] #14 closed

[2021-07-14 08:47] yu-iskw commented on #12
I am not sure what I am thinking is similar to the issue. But, as we test dbt sources and models and there are a couple of tools to leverage that, I want to test, monitor and alert metrics. If we describe them on top of metriql, that would be awesome.

- https://github.com/re-data/re-data
- https://github.com/sodadata/soda-sql

[2021-07-15 02:44] buremba commented on #12
Hey @yu-iskw, thanks for the suggestion! I knew about soda but re-data also looks cool. Re-data also seems to be a dbt alternative for soda-sql so it's more relevant to metriql.

The major difference is that metriql requires you to define the metrics explicitly and this issue is for testing the metrics by running a dry query in your database that has all the dimension & measure pairs with `LIMIT 0

[2021-07-21 00:29] yu-iskw commented on #12
@buremba Thank you for the suggestion! That is what I am thinking. I will give it a try.

[2021-08-01 01:17] buremba opened #17 "Ability to define metrics in dbt models"
In order to use metriql in a dbt project, you need to be using [YML files](https://docs.getdbt.com/reference/declaring-properties) in dbt but not all the users are familiar with it. We should find a dbt-native way for SQL-heavy users to define them inside the SQL. One solution would be parsing column names such as `metric__[MEASURE_NAME]__[OPTIONAL_AGGREGATION_TYPE]` and creating measures automati

[2021-08-01 21:33] dbrtly commented on #17
FWIW, I think is a bit too clever to be relevant at this phase of metriql. The proposal isn't in harmony with the python principle of “prefer explicit over implicit”.

[2021-08-01 21:57] buremba commented on #17
@dbrtly thanks for the input. The rationale behind this feature is making the switch to metriql for the existing dbt projects seamless. The power users usually have a convention for the metrics inside dbt models (here is an example: https://emilyriederer.netlify.app/post/convo-dbt/) and I'm trying to provide a way for them to use metriql with changing only a few lines of their existing files.

I a

[2021-08-01 22:24] dbrtly commented on #17
I hadn’t seen this post before. I get dbt errors if I leave out the yml files.

Is it feasible to go further than a naming convention and get better reach? Users don't necessarily having a naming convention in common but the ansi sql is common. Could metricql automatically add meticql config to a yml file after scanning the code for the full pattern in the second last cte:

select … sum(…) as colu

[2021-08-02 06:20] buremba commented on #17
I could not find a reliable way to do that yet and I don't think that I can. Here are the limitations:

1. The first option is parsing SQL queries but every database has a different dialect so it's not easy as it seems.  The parsers need to understand the full syntax of the database and I don't know any fault-tolerant parser that just skips the unknown parts of the query and just looks at the colu

[2021-08-02 07:37] dbrtly opened #18 "Exception in thread "main" Unknown warehouse: bigquery"
I'm trying to run metriql on a macbook.
My dbt project compiles and runs just fine.
I reinstalled docker and pulled the latest metriql image.

My dbt setup is customised a little:
* profiles.yml is in the project root. This is configured as an env_variable
* I'm building to ${workspaceFolder}/.dbt/artifacts/.  This is configured in dbt_project.
Both work fine except for metriql.

[code]
Also FWIW

[2021-08-02 08:19] buremba commented on #18
Hey @dbrtly, thanks for creating the issue. I fixed the bug and pushed a new version on `latest` tag, could you please try again? BTW, we currently support `keyfile_json` in BigQuery as the authentication method.

We do not run multiple apps (or dbt itself) inside the docker container, why do you think that docker-compose would be a better approach?

[2021-08-02 08:31] dbrtly commented on #18
testing in progress.

Mostly because it's so much easier to type.
[code]

[2021-08-02 09:52] dbrtly commented on #18
new error now

[code]

[2021-08-04 01:10] buremba commented on #18
Hey @dbrtly , the OAuth option was not available for BigQuery, just implemented it. Can you please test it again?

[2021-08-04 01:34] buremba commented on #18
If you're using the local Oauth option, BigQuery credentials are in your local filesystem. In that case, here is how you can pass the credentials to the container:

[code]

[2021-08-04 02:41] dbrtly commented on #18
Could that be set as a default?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Burak Emre Kabakcı ***@***.***>
Sent: Wednesday, August 4, 2021 11:34:17 AM
To: metriql/metriql ***@***.***>
Cc: Daniel Bartley ***@***.***>; Mention ***@***.***>
Subject: Re: [metriql/metriql] Exception in thread "main" Unknown warehouse: bigquery (#18)

If you're using the local Oau

[2021-08-04 03:18] buremba commented on #18
Not sure how I can set it via Docker command but I created a docker-compose.yml file per your suggestion. Does it work for you? https://github.com/metriql/metriql/blob/master/docker-compose.yml

[2021-08-07 12:04] muskirac commented on #17
Hey @buremba,

To me the metrics should be part of metadata and YML files, so that analysts who don't want to break the data flows can easily inject and manage their metrics. From this aspect I like how cube.js defines complex metrics within "sql" meta (https://cube.dev/docs/direction-of-joins#transitive-join-pitfall). Maybe metriql can introduce a new dbt macro that generates/propagates metric SQ

[2021-08-07 12:40] dbrtly commented on #17
I would like to put forward naming conventions for metric and have a “generate_metriql_yaml” macro (like the dbt package codegen).

For example the following:
- starts with:
    count_of_
    count_of_unique
    approx_count_of_unique
    total_
    average_
    maximum_
    minimum_

That would be a start

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mustafa K

[2021-08-11 06:59] buremba commented on #17
Hey @muskirac, thanks for the insight. Indeed, metriql lets you create [datasets](https://metriql.com/tutorial/for-dbt-users) from all your dbt resources including models, sources, and seeds. We also support [sql relations](https://metriql.com/reference/relation#creating-relation-via-metametriql) and generate JOIN relations if you query a field from the using the dot notation just like Cube.js.

m

[2021-08-11 22:22] dbrtly commented on #17
Thinking further is the dbt docs feature extensible? Can you do your own implementation of exposures and make it dance with the documentation website? Maybe:

[code]

[2021-08-12 09:08] buremba commented on #17
@dbrtly, [metriql CLI](https://metriql.com/metriql-cli/serve) comes with a dashboard that lets you connect to BI tools and audit all the queries at the moment. We're planning to add a new page that visualizes all the data marts and lets you run queries in a simple interface for testing purposes. I believe that rather than introducing separate static documentation, it can be included in the dashboa

[2021-08-17 07:56] yu-iskw opened #20 "Add `--models` and `--selector` to `metriql generate`"
## Motivation
We want to generate partial models, not all models. We define dbt models in a single repository, but departments at our company use different BI tools. If we can generate partial models with conditions as `--models` and `--selector`, that would be awesome.

[2021-08-17 14:39] buremba commented on #20
Thanks for the feature request, @yu-iskw! I was under impression that when you pass `--models` to dbt commands, the generated `manifest.json` file includes the relevant nodes but it [doesn't seem to be correct](https://getdbt.slack.com/archives/C01F91XJ5PY/p1629210789009600).

We need to implement it inside metriql using the dbt's syntax. I will try to implement it later this week and let you know

[2021-08-17 14:42] buremba commented on #20
For reference, I'm planning to implement `--resource-type` and `--models` as a start.

[2021-08-27 08:06] #6 closed, assigned to nobody

[2021-08-27 08:55] buremba opened #21 "Support `in_query` and `in_filter` in SQL context"
We have a basic version of `in_query` in SQL context but we also need to support `{{dimension_name._in_query}}` and `{{dimension_name._in_filter}}` for semantic models defined as Jinja expressions.

[2021-08-27 11:54] ZolotukhinAS opened #23 "Support for dbt+Snowflake key-pair authentication"
Ensure that metriql can connect to Snowflake via key-pair authentication defined in dbt profile.
See here for [dbt docs](https://docs.getdbt.com/reference/warehouse-profiles/snowflake-profile#key-pair-authentication)

[2021-09-02 09:11] danielefrigo opened #24 "tutorial does not work"
I followed the instructions provided [here](https://metriql.com/tutorial/for-starters), I also executed a "dbt compile" before running metriql in order to generate the manifest.json file.
I'm running metriql thru docker, so my command is:

docker run -v c:\dbt\:/mnt/dbt -v c:\users\frigod\.dbt:/mnt/dbt_profile buremba/metriql:latest run --project-dir /mnt/dbt/metriql_test2 --profiles-dir /mnt/dbt_

[2021-09-02 16:30] buremba commented on #24
Hey @danielefrigo , It looks like you used [`generate`](https://metriql.com/metriql-cli/generate) instead of [`serve`](https://metriql.com/metriql-cli/serve) (previously `run`), could you please try to run `metriql serve`?

[2021-09-03 08:11] danielefrigo commented on #24
I tried both, but without success.
Today I donwload the latest version of the docker image and tried again:

1. dbt init
2. create source.yml file
3. dbt compile (to generate the manifest.json file)
4. docker run -v c:\dbt\:/mnt/dbt -v c:\users\frigod\.dbt:/mnt/dbt_profile buremba/metriql:latest serve --project-dir /mnt/dbt/metriql_test2 --profiles-dir /mnt/dbt_profile --manifest-json file:/mnt/db

[2021-09-03 15:17] buremba commented on #24
It looks like Metriql is not running so Dbeaver is not able to reach the server. Can you please send the output of the following command:

[code]

Also, does the Docker container exit?

[2021-09-03 15:25] danielefrigo commented on #24
This is the output:

Sep 03, 2021 3:23:27 PM ru.yandex.clickhouse.ClickHouseDriver <clinit>
INFO: Driver registered
Sep 03, 2021 3:23:31 PM io.netty.util.internal.logging.Slf4JLogger info
INFO: [id: 0x0afedaa7] REGISTERED
Sep 03, 2021 3:23:31 PM io.netty.util.internal.logging.Slf4JLogger info
INFO: [id: 0x0afedaa7] BIND(/127.0.0.1:5656)
Sep 03, 2021 3:23:31 PM io.netty.util.internal.logging.Slf4JL

[2021-09-03 15:53] buremba commented on #24
Ah, OK. You're right. Thanks for the clarification!

It looks like the tutorial doesn't have the correct Docker arguments. Please use the following command:

[code]

I added `-p "5656:5656" -e METRIQL_RUN_HOST=0.0.0.0` so that you can access the Docker container locally. In the meantime, I tried Dbeaver locally to test it out and the settings should look like this:

<img width="1257" alt="CleanSho

[2021-09-03 16:06] danielefrigo commented on #24
That's a good step!
Now the connection is working, but I still get errors when I try to browse the tables:

SQL Error: Error executing query
  Error executing query
  Error executing query
    javax.net.ssl.SSLException: Unsupported or unrecognized SSL message
    javax.net.ssl.SSLException: Unsupported or unrecognized SSL message
      Unsupported or unrecognized SSL message
      Unsupported or

[2021-09-04 12:02] buremba commented on #24
How are you setting up Dbeaver, can you please send a picture similar to mine? It looks like it tries to connect via SSL but since you're in the local environment, SSL is not available. Please note that if you send a password, JDBC requires SSL to be enabled.

[2021-09-06 07:06] danielefrigo commented on #24
You're right! The SSL flag was true by default, switching to false the error disappears, but I still cannot see the source I mapped in dbt:

![image](https://user-images.githubusercontent.com/28701043/132174659-106d1ed4-114e-447a-88ac-4b566516f0dc.png)

[2021-09-06 14:15] buremba commented on #24
Congrats! If you don't see any table, you probably don't have any metriql datasets yet. Is your dbt project public? For the reference, I realized that the documentation is a bit misleading, you need to have `meta.metriql` property to be set so that metriql can expose it to your data tools. Please see the [relevant documentation](https://metriql.com/tutorial/for-dbt-users).
We also have a sample pr

[2021-09-06 15:47] danielefrigo commented on #24
I got it working! there was a wrong path in my docker run command.
thank you very much for your help (and I hope this will help others willing to start working with this interesting project!)

[2021-09-06 15:47] #24 closed

[2021-09-06 16:25] buremba commented on #24
Thanks for being responsive @danielefrigo! It definitely helped, I edited the tutorials based on the feedback that I got from you. :) Feel free to join [our Slack](https://join.slack.com/t/metriql/shared_invite/zt-tz1nzvyd-ker8LGcBQmzrwvfAkFO1qQ) for live support and announcements. :)

[2021-09-06 20:25] buremba commented on #11
It's implemented in master!

[2021-09-06 20:25] #11 closed

[2021-09-06 20:26] buremba commented on #10
It's implemented in master! See the documentation here: https://metriql.com/integrations/bi-tools/superset

[2021-09-06 20:26] #10 closed

[2021-09-06 21:37] #23 closed

[2021-09-06 21:38] buremba commented on #23
@ZolotukhinAS , the `metriql:latest` tag in Docker now has this feature, please feel free try to and let me know if you run into any issues. 🤟

[2021-09-13 07:54] cavernaria opened #25 "Unable to access metriql's local server"
I started metriql, referring to the documentation and the #24 , but I cannot connect to metriql.

The command used to start it (My environment is fish, so the way variables are written may be different).

[code]

This is the result of executing the command.

[code]

When I try to connect with Dbeaver in this state, the connection itself succeeds (it takes a very long time). However, when I try to

[2021-09-13 11:05] buremba commented on #25
Thanks for creating the issue, @cavernia! You're right, it looks like your Metriql server didn't bind to 0.0.0.0 from the Docker container so you can't access it from your local machine. `METRIQL_RUN_HOST` environment variable is removed to `HOST` recently and looks like I forgot to put a deprecation notice.

I added support for `METRIQL_RUN_HOST` env again, if you clean your Docker cache and run

[2021-09-14 02:23] cavernaria commented on #25
Thanks for the quick reply.
I did what you said and now I have access! Thank you for your help!

[2021-09-14 10:42] buremba commented on #25
Great to hear, thanks for letting me know @cavernaria !

[2021-09-14 10:42] #25 closed

[2021-09-14 15:24] buremba opened #26 "Support for Thoughtspot"
We already have integration with Thoughtspot through the Trino interface but for formatting/field mapping, we need to generate [TML files](https://docs.thoughtspot.com/software/7.0/tml.html) and upload them to Thougtspot instances. Here is the Python library for the task: https://github.com/thoughtspot/ts_rest_api_and_tml_tools

Ideally, if Thoughtspot introduces integration with GIT, we can outpu

[2021-09-16 23:12] buremba commented on #13
The project will be published in https://github.com/metriql/metriql-metabase

[2021-09-21 14:25] buremba opened #27 "Support multiple environments in a single Metriql deployment"
Metriql community version requires dbt's manifest.json file as an argument and use that target for all the users. In the enterprise version, we will introduce a system that makes Metriql support dynamic manifest.json files and dbt profiles for different users.

[2021-09-23 11:41] buremba opened #28 "Support setting custom dbt target"
We should support overriding the default targets defined in the YML file with an extra argument `--target`

[2021-09-27 17:52] buremba opened #29 "Support `keyfile_json` in BigQuery data source"

[2021-09-27 17:52] #29 closed

[2021-09-28 21:41] buremba opened #30 "Fix BigQuery OAuth authentification"
It looks like we didn't implement OAuth method properly. I wiped gcloud data locally and installed the latest version and authenticated using `gcloud auth application-default login` command and it produced the file in `~/.config/gcloud/application_default_credentials.json`. We should use from `~/.config/gcloud` as the default config directory and use `application_default_credentials.json` file und

[2021-09-28 21:42] #30 closed

[2021-09-28 21:45] buremba opened #31 "`role` config is ignored in Snowflake adapter"
It looks like Metriql doesn't set the Snowflake role even if the `role` property is set in the config.

cc: @ribolzisalvador

[2021-09-28 21:46] #31 closed

[2021-10-11 15:44] jsrcodes opened #32 "Provide an informative error message when dbt profile is missing or incorrectly configured"
Please see below for an example message that says - `profile null doesn't exist`. In this example, I didn't specify --profile custom_name, hence it failed.
[code]

[2021-10-14 13:03] buremba opened #33 "Implement support for dbt Cloud"
It's better to support dbt Cloud API in addition to HTTP(S) protocols because dbt Cloud doesn't really expose the dbt artifacts in a remote URL in a programmatic way.

See: https://getdbt.slack.com/archives/CMZ2V0X8V/p1633343899247100

[2021-10-15 08:20] c-l-nguyen opened #34 "Docker install does not recognize BigQuery connection"
After pulling latest version of metriql Docker image, I try to run the command in the installation step with a BigQuery connection but get this error:

`Exception in thread "main" /root/.config/gcloud/application_default_credentials.json not found connecting the BigQuery.`

I have installed gcloud CLI tool and configured it to point to desired project and the application_default_credentials.json f

[2021-10-18 10:19] buremba opened #35 "Support Prepared Statements"

[2021-10-18 10:57] emresemercioglu opened #36 "Support for Qlik"
Metriql already has integration with Qlik through Presto connection but there is a pending issue related to this integration:

#35

[2021-10-18 10:58] emresemercioglu opened #37 "Support for Qlik"
Qlik uses prepared statements so here are the steps:

Implement #36
Support for Qlik Master Items

[2021-10-18 11:00] #37 closed, assigned to nobody

[2021-10-18 11:55] #33 closed, assigned to buremba

[2021-10-21 04:48] c-l-nguyen opened #38 "Cannot generate aggregates"
I am trying to add aggregates to an existing dbt model (using the jaffle_shop dataset from dbt tutorial since it is simple and easy to set up). However, the `generate` command is throwing me an exception even for simple aggregation and dimension properties in my model. My model code I modified in /models to add in these meta properties is:

`models:
    - name: stg_customers
      description: Sta

[2021-11-03 11:45] NicWagenaar opened #39 "Error running `serve`"
I installed the Metriql CLI through docker: `docker pull buremba/metriql:latest`

Then, while in my dbt directory, ran the instructions on the installation page:
[code]

I then get the following error:
[code]

Any idea on how to resolve this?

[2021-11-03 18:03] buremba commented on #39
Hey @NicWagenaar, you're right. It looks like our new [multi-tenant feature](https://metriql.com/metriql-cli/serve#multi-tenant-deployment) broke the single-tenant deployment. The fix is implemented, could you please download `metriql:latest` and try again?

[2021-11-04 08:36] NicWagenaar commented on #39
Thanks @buremba. I pulled the latest version, but unfortunately I ran into a different error:
[code]

Does this have something to do with my configuration?

[2021-11-04 09:14] buremba commented on #39
@NicWagenaar it looks like the manifest.json file is versioned as `v3`. Do you mind sharing the `manifest.json` with me so that I can try to reproduce it on my end?

[2021-11-04 10:02] NicWagenaar commented on #39
@buremba I've replicated the error in a fresh jaffle_shop project. Put the manifest for it in a gist here: https://gist.github.com/NicWagenaar/56a81670917c939a84cd0552abf5ed95

[2021-11-05 00:12] buremba commented on #39
@NicWagenaar good catch. It looks like the error was because `status` dimension doesn't have a type defined in the yml file and the value type is not defined for the dimension: If you add the following `valueType` property, it should work:

<img width="352" alt="CleanShot 2021-11-05 at 03 04 04@2x" src="https://user-images.githubusercontent.com/82745/140436937-edda1885-6006-485d-ab93-af9e9db59e31.

[2021-11-06 10:07] buremba opened #40 "Support object values in `keyfile_json` of BigQuery adapter"
See: https://metriql.slack.com/archives/C0229LE836K/p1636124671014700

[2021-11-06 10:08] #40 closed

[2021-11-07 16:03] buremba opened #41 "Implement Spark"

[2021-11-08 08:15] NicWagenaar commented on #39
@buremba Makes a lot of sense, thanks for looking into this!

[2021-11-12 17:42] danielefrigo opened #42 "support metric format from dbt"
dbt is preparing a new feature called "metrics" for the upcoming 1.0 release:

https://next.docs.getdbt.com/docs/building-a-dbt-project/metrics
https://github.com/dbt-labs/dbt-core/issues/4071

Are you planning to support this metric definition format in metriql?

[2021-11-19 09:49] danielefrigo commented on #42
Hi @buremba, sorry for the late answer.
This detail about dimensions definition let me really doubtful when I read it in dbt docs.
I agree with you, it's much more intuitive defining them at model level.

In order to leverage dbt metadata, an idea could be to expose at model level the intersection of the dimensions defined in the related metrics. It's more redundant to define, but could at least g

[2021-11-19 10:16] buremba commented on #42
@danielefrigo Actually, I had more time to dive into it for the last few days and found a way to integrate dbt's metric definitions to the downstream tools: We may expose these metrics as database tables rather than the measures. The `dimensions` definition picks the relevant columns from the target model and exposes them to the downstream tools in that case and the dataset can have a single metri

[2021-11-19 10:34] danielefrigo commented on #42
Maybe I misunderstood your explanation, but does this mean that using dbt metric definitions metriql will expose one separate dataset for each measure?
I understand where this comes from the dbt metric - dimension link, but on the other hand this could create great performance degredation and modeling complexities in BI tools since you often want to query multiple measures from the same fact table

[2021-11-22 17:46] AndreasTA-AW opened #44 "Connect via OAuth"
Hi,

Is it possible to give different users different access? Or is the solution currently that if you have access to Metriql you can access all data that Metriql can access?

Cheers!

[2021-11-22 21:08] buremba opened #45 "Support `date_trunc` function in MQL"
We can re-write the query to use the corresponding [timeframe](https://metriql.com/reference/dimension/#timeframes) defined in the data model.
[1](https://metriql.slack.com/archives/C0229LE836K/p1637118539032800)

[2021-11-23 02:53] buremba commented on #44
Yes, we support different ways to manage the authorization and permissions, please see https://metriql.com/metriql-cli/serve/#authorization-and-permission-management

What's your use case, are you planning to use Metriql in an embedded application or internally? Most BI tools don't support OAuth authorization so we currently support JWT token mainly for making Metriql work with single-page applica

[2021-11-23 03:49] minhlucvan commented on #45
Thanks @buremba for creating this, There are anything that I can do for this. Can I add a function at `ANSISQLMetriqlBridge.functions`?

[2021-11-23 07:41] AndreasTA-AW commented on #44
Yeah, some of the BI Tool support OAuth, and some "only" support it for now. I think Tableau is one of them?

I'm currently just playing around to see if we could store metrics from DBT with the help of Metriql :)

[2021-11-23 08:11] AndreasTA-AW opened #46 "Cannot run program "gcloud""
Hi,

I'm running with a profile that is using bigquery and a service account. But when I start the docker container it says "Cannot run program "gcloud"".  Is gcloud necessary even if I use a service account?

Cheers

[2021-11-23 08:33] AndreasTA-AW commented on #46
Looked in the code and I don't specify the project. https://github.com/metriql/metriql/blob/master/src/main/java/com/metriql/warehouse/bigquery/BigQueryDataSource.kt#L82

Got another error when I did actually specify it:

Exception in thread "main" /root/.config/gcloud/application_default_credentials.json not found connecting the BigQuery.

[2021-11-23 08:50] AndreasTA-AW commented on #46
Ok, so I used keyfile instead of keyFile, which DBT is fine with but not Metriql apparantly :) might be good to do a lowercase check on that one.

https://github.com/metriql/metriql/blob/master/src/main/java/com/metriql/warehouse/bigquery/BigQueryDataSource.kt#L71

[2021-11-23 08:59] AndreasTA-AW commented on #46
keyfile has to be lowercase, otherwise I can't run DBT. Either I'm doing something wrong or you should change to lowercase by default.

[2021-11-23 14:13] buremba commented on #45
Thanks for the interest! Here are the steps:

1. Add `DATE_TRUNC` function to [RFunction](https://github.com/metriql/metriql/blob/d9534b9df9d516470efff5a6e52068faf37f0c52/src/main/java/com/metriql/warehouse/spi/function/RFunction.kt) that matches Trino's [date_trunc](https://trino.io/docs/current/functions/datetime.html#truncation-function) function.

2. Implement generic method to [`ANSISQLMetriq

[2021-11-23 15:45] buremba commented on #46
Yes, you're right. There was a pending PR and it's now merged. Can you please try again? https://github.com/metriql/metriql/pull/43

[2021-11-23 15:56] buremba commented on #44
BTW, you're correct that Tableau supports OAuth but unfortunately, it doesn't support it for Prestodb which is our query interface:
<img width="423" alt="CleanShot 2021-11-23 at 18 56 33@2x" src="https://user-images.githubusercontent.com/82745/143058411-120e4ca5-d1a6-4c7b-a51d-7ebbc6d02321.png">

[2021-11-24 13:48] SananGuliyev commented on #41
Is there any ETA for Spark implementation?

[2021-11-25 05:36] AndreasTA-AW commented on #44
Thanks for info

[2021-11-25 05:36] #44 closed

[2021-11-25 05:37] AndreasTA-AW commented on #46
I will try to do it during the day or tomorrow

[2021-11-25 05:41] AndreasTA-AW opened #47 "Change the name of the generated trino tables"
Hi,

is it today possible to change how the name of the tables gets generated. We would probably prefer to leave out the model_<dbt-project> path of it.

[2021-11-25 10:37] buremba commented on #47
In dbt, the models and sources are not unique so we had to have these prefixes to avoid name collisions. However; we support dbt references so you can access them as follows:

[code]

or:

[code]

Which tool are you using? Maybe we should expose the sources as dbt references, not internal names?

[2021-11-26 05:09] AndreasTA-AW commented on #47
That is true. I explored it a bit with DBeaver now and it doesn't feel super nice with the naming convention currently popping up :) For eg. we only expose a virtual mart to metriql, or for that case all the places actually consuming data, so sources are never exposed outside of DBT. It wouldn't be possible to just give a naming convention for sources so it turns out to be tpch_orders? I feel ther

[2021-11-26 08:04] AndreasTA-AW opened #48 "Auth towards trino connection"
Hi,

I tried to add auth, but it seems to only add auth to the API endpoints, not the actual trino(interface) connection. Is this possible today? Would like to deploy it for testing but not expose it to the entire world.

Cheers!

[2021-11-26 09:30] AndreasTA-AW commented on #48
Sorry, apparantly DBeaver was lying to me :) it's protected

[2021-11-26 09:30] #48 closed

[2021-11-28 00:39] buremba commented on #42
It's implemented in https://github.com/metriql/metriql/commit/0b133b7474b06f30aa836a7d4da8d9462a811e30! 🎉

[2021-11-28 00:39] #42 closed

[2021-11-28 00:42] buremba commented on #17
We support dbt's native [metric definitions](https://next.docs.getdbt.com/docs/building-a-dbt-project/metrics) at the moment so so we don't need to introduce an alternative for serving docs, running tests, or defining the metrics itself.

[2021-11-28 00:42] #17 closed

[2021-11-28 00:42] buremba commented on #13
It's implemented! 🎉

[2021-11-28 00:42] #13 closed

[2021-11-28 00:43] buremba commented on #27
It's implemented, please see https://metriql.com/metriql-cli/serve#multi-tenant-deployment

[2021-11-28 00:43] #27 closed

[2021-11-28 06:47] AndreasTA-AW commented on #46
Seems to work.

[2021-11-28 06:47] #46 closed

[2021-11-28 06:51] AndreasTA-AW opened #49 "Connect via DBeaver when SSL"
Hi,

I've exposed MetriQL behind an ssl proxy and I can connect via the python library, but via DBeaver I get an exception when trying to connect.

[code]

The server side says.

[code]

[2021-11-28 11:17] buremba commented on #49
Could you please send a screenshot of the connection page? The user is required, here is an example config:

<img width="585" alt="CleanShot 2021-11-28 at 14 16 14@2x" src="https://user-images.githubusercontent.com/82745/143765571-820fbd0e-d3c8-47c6-af1f-ff91edd3833f.png">

[2021-11-28 11:22] AndreasTA-AW commented on #49
That's exactly how I set it up. I have a different username though. Could it be with the loadbalancer in front of it, or something else? I saw that if ssl is terminated before the server, Trino needs this config ```http-server.process-forwarded=true```. I've got no clue, just throwing idéas in the air :)

Seems it didn't work from thoughtspot either, so must be something wrong with my setup I gues

[2021-11-28 22:11] buremba commented on #41
We're currently working on the implementation. There might be an issue with the license so we got in touch with Databricks to see if we can include their JDBC driver in Metriql. Previously asked here as well: https://community.databricks.com/s/feed/0D53f00001W1Fg9CAF

[2021-11-29 13:38] AndreasTA-AW commented on #49
Do you need any more info or do you think it's possible to debug anyway? :) I'll be happy to dig further if you need more info. We are currently running another trial where it would be fun to get metriql up and running.

[2021-11-29 13:48] AndreasTA-AW commented on #49
Here is the full stacktrace at least
[code]

[2021-11-29 18:48] AndreasTA-AW commented on #49
If I enter the wrong username I get Authentication failed, so it's getting there, but somehow fails.

[2021-11-29 20:32] AndreasTA-AW commented on #49
Thoughtspot prints this in chrome console
```"debug":"[\"java.sql.SQLException: Authentication failed: Unauthorized\",\"\"]"```
I'm copying what I'm using in the python client.

[2021-11-30 01:46] buremba commented on #49
Sorry for the delay, I believe that it's related to load-balancers `X-Forwarded-Proto` headers but I couldn't reproduce the issue. Let me work on it today and I will get back to you.

[2021-11-30 07:00] AndreasTA-AW commented on #49
Seems I get "Authentication failed" instead now with the latest image. Python library still works though.

[2021-12-01 03:26] buremba commented on #49
After spending an hour, I still couldn't reproduce the issue. Can you please answer the following questions?

1. Is the Metriql passwordless or did you set up username & password authentication? If you try running it in passwordless mode, does it work?

2. How do you set up the load balancer, is it a managed service? I suspect that it might be re-writing all the headers with `X-`Forwarded-` prefix

[2021-12-01 19:01] AndreasTA-AW commented on #49
1. It has a password. Not to keen to expose it without actually :)
2. Now I'm setting up an Nginx and a separate VM for this. UI works, python library works, DBEaver gets unauthorized or that it tries to use http in the next call, instead of https. Depending on what I change. Headers are being proxied with X-Forwarded- indeed, shouldnt that be the case?
3.

[code]

[2021-12-01 19:06] AndreasTA-AW commented on #49
@buremba If it works for you when you do SSL termination in NGINX in front of a secured MetriQL instance protected with username/password, could you please share that configuration?

[2021-12-01 19:57] AndreasTA-AW commented on #49
DBeaver is actually doing things my the look of it when I try to connect, but I still get unauthorized. The metriql logs say

[code]

[2021-12-01 20:10] AndreasTA-AW commented on #49
Isn't this line messing things up?
https://github.com/metriql/metriql/blob/master/src/main/java/com/metriql/service/jdbc/StatementService.kt#L211

[2021-12-01 20:40] buremba commented on #49
Wow, that's strange. Our HTTPS workloads work maybe because HTTP redirects to HTTPS and we didn't realize it. Let me work on it know, will get back to you in an hour.

[2021-12-01 21:23] buremba commented on #49
@AndreasTA-AW , we don't want to require the Metriql URL as a parameter when you run the `serve` command and Metriql itself doesn't really support SSL. You need to have a load balancer to support HTTPS in Metriql which passes `X-Forwarded-Proto` to the Metriql instance. We cover this use-case now, it's in the `metriql:latest`:
Relevant commit: https://github.com/metriql/metriql/commit/4554e2a30cc2

[2021-12-01 21:23] buremba commented on #49
Can you try and let me know if you run into any issues?

[2021-12-01 21:25] AndreasTA-AW commented on #49
Will test it out. That’s the way I wanted it to be :)

[2021-12-02 12:41] AndreasTA-AW commented on #49
Works like a charm

[2021-12-02 12:41] #49 closed

[2021-12-02 19:11] AndreasTA-AW commented on #45
This seem to be blocking alot of queries coming from thoughtspot at least, since they use date_trunc alot

[2021-12-02 19:34] AndreasTA-AW opened #50 "Support TIMESTAMP '' in where"
Thoughtspot generates queries on timestamps like below
[code]

But this is currently not supported in metriql, I guess it should be?

[2021-12-02 19:35] AndreasTA-AW opened #51 "ConcurrentModificationException"
Not really sure where this is coming from, but when using thoughtspot / DBeaver these errors pop up a lot in the metriql logs.
[code]

[2021-12-02 22:47] buremba commented on #45
@minhlucvan are you willing to implement it? If not, I can assign it to myself.

[2021-12-06 19:47] AndreasTA-AW commented on #50
Anything I can do here? This is kind of blocking our evaluation :)

[2021-12-06 19:50] buremba commented on #50
@AndreasTA-AW, I'm on it. :) It should be implemented this week.

[2021-12-06 19:51] AndreasTA-AW commented on #50
Sweet! Thanks for the quick response

[2021-12-08 13:15] AndreasTA-AW opened #52 "Meta/Tag from DBT"
Hi,

Any reason why tags/meta doesn't follow along to Metriql? :) would be kind of nice not to have to fetch from multiple places when fetching metadata.

Cheers!

[2021-12-10 08:06] AndreasTA-AW commented on #26
Has the integration with thoughtspot been tested, that the trino interface should work? I can't make any queries work at all :O

[2021-12-10 11:49] AndreasTA-AW opened #53 "Support LOWER/UPPER"
Currently it seems LOWER and UPPER is not implemented. BI Tools really on this functionality at least in the WHERE clauses.

[2021-12-10 11:55] AndreasTA-AW opened #54 "GROUP BY"
Hi,

Group by seems to not work that great. If using any aggregation it usually fails

[code]

[code]

[2021-12-10 14:53] buremba commented on #52
That's a great suggestion!

[2021-12-10 15:02] #50 closed

[2021-12-10 15:02] buremba commented on #50
Thanks!

[2021-12-10 15:07] buremba commented on #51
Thanks for reporting the bug!

[2021-12-10 15:12] AndreasTA-AW opened #55 "Support DATE '' in where"
Sorry that I didn't check this before, but the same as with TIMESTAMP in where ( that should be fixed now), DATE '' in where is not supported either I think.

[2021-12-10 15:30] AndreasTA-AW opened #56 "CTEs"
Hi,

Is CTEs currently supported? We get some of those and it fails, might be something else going wrong but feels like it is about the CTEs.

Cheers!

[2021-12-10 15:31] buremba commented on #26
Hey @AndreasTA-AW, we only tried a proof of concept but for real-world scenarios, there are probably many different use-cases. I can promise you to fix the issues within the same week if you can report them, hope that helps.

[2021-12-10 15:32] buremba commented on #54
The query seems to be fine actually, which data warehouse is it?

[2021-12-10 15:33] AndreasTA-AW commented on #26
I'm reporting away :) hehe I think it's DATE in where clause and CTEs that is the main blocker now. But might find out more as time goes.

[2021-12-10 15:34] AndreasTA-AW commented on #54
It's bigquery, this one looks kind of OK, but gives the error as shown.
Sometimes the grouping is not added at all I think.

[2021-12-10 15:34] #53 closed

[2021-12-10 15:34] buremba commented on #53
Thanks!

[2021-12-10 15:51] buremba opened #57 "Support `date` types in `date_trunc` function for BigQuery"
The MQL queries that uses `date_trunc` needs to be re-written as `datetime_trunc` if the type is `timestamp` and as `date_trunc` if the type is `date` but the context doesn't have the info. We need to inject the type info to the context to support the feature.
Relevant BigQuery functions: https://count.co/sql-resources/bigquery-standard-sql/datetime_trunc

[2021-12-10 15:51] #45 closed

[2021-12-10 15:52] buremba commented on #45
It's implemented in `master` but we need to fix https://github.com/metriql/metriql/issues/57 ti make it work for all the cases in BigQuery

[2021-12-10 15:56] #55 closed

[2021-12-10 15:56] buremba commented on #55
That's awkward, I thought that DATE is also covered in the AST so didn't cover that use case. It should be implemented now!

[2021-12-10 15:58] buremba commented on #56
Yes, CTEs should work:
<img width="564" alt="CleanShot 2021-12-10 at 15 57 16@2x" src="https://user-images.githubusercontent.com/82745/145603166-0d4826ed-31a2-49cf-8d6a-8f6b9d1ccce1.png">

Can you please let me know the query that fails? If possible, it would be great to see the data models to that I can try to reproduce the issue on my end.

[2021-12-10 16:00] buremba commented on #54
Do you have something reproducible like an MQL query that I can use myself? Also, please share the data models if possible so that I can understand the cases where the GROUP BY is not generated.

[2021-12-10 17:51] AndreasTA-AW commented on #56
So in the logs it says that this query is being ran from Thoughtspot.
[code]
total_calls is an aggregation with count already, but that is fine I think. you kind of remove aggregations on already aggregated fields when I tested it.

So I'm not sure if "WITH <cte_name> as..." is supported?

[2021-12-10 18:11] AndreasTA-AW commented on #53
Still getting
[code]

[code]

I guess it's the LOWER it's still complaining about.

[2021-12-13 13:41] AndreasTA-AW opened #58 "Floats / Decimals"
Hi,
When I'm using dbeaver and testing to do some calculations or just retrieving decimals/floats I get the below error.
One weird thing is that it says "type":"unknown" in the response, which makes me think it's something weird with the types.

[code]

The dimension is specified like this:

[code]

[2021-12-13 13:50] AndreasTA-AW opened #59 "Support "IN""
Hi,

Is "where col in ('1','2')" not supported today?

[2021-12-13 14:03] AndreasTA-AW opened #60 "LOWER/UPPER"
When I'm trying to use LOWER in the where clause it still says "Not supported operation".
Using bigquery.

[2021-12-13 14:25] AndreasTA-AW commented on #58
The types are "BIGNUMERIC" in BigQuery, if I look in the code it feels like this type is not supported?

[2021-12-13 15:22] AndreasTA-AW opened #61 "Relations in measures"
How to use relations in measures? I would like to do a count from a relation. I could specify the measure in that table as well if that is the way to go.

[code]

[2021-12-14 08:01] AndreasTA-AW opened #62 "Datahub ingestion"
Hi,

When testing the datahub integration I get this error

[code]

[2021-12-14 08:59] AndreasTA-AW commented on #62
Seems it's throwing here -> https://github.com/metriql/metriql/blob/d9534b9df9d516470efff5a6e52068faf37f0c52/src/main/java/io/trino/sql/MetriqlExpressionFormatter.java#L572

Not sure if ```string()``` should be supported there

[2021-12-15 12:06] AndreasTA-AW opened #63 "Extends"
The documentation says that it should be "extens" but I think it should be "extends: ref('')".  It should also be specified as this I guess?

[code]

I still can't get it to work when the one we want to extend is used in a relation of another model.
[code]

[2021-12-15 12:40] AndreasTA-AW opened #64 "Error when using "where col = true" with boolean"
When I’m trying to do a simple query like:
[code]

I get this error
[code]

[2021-12-15 14:13] AndreasTA-AW commented on #61
I think I solved this problem. The documentation is not very clear here but I guess it's like this it's supposed to do.
This issue could be update the documentation in that case.
[code]

[2021-12-15 15:02] AndreasTA-AW opened #65 "Order by "date::week_of_year""
I'm trying to order by the week of the year but I'm getting an error, it's the same for all the different fields.

[code]

[code]

[2021-12-15 15:28] AndreasTA-AW opened #66 "date columns in where"
When trying to use the date columns in the where I get an error
[code]

[code]

Something I should change?

[2021-12-15 18:30] santi95 commented on #64
Try

[code]

[2021-12-15 19:16] AndreasTA-AW commented on #64
I can test it, will a bi tool call it like that?

[2021-12-15 19:21] AndreasTA-AW commented on #64
Aah sorry, i saw the double starts in the mail.
I’ve tried ”is” as well if I remember correct, but will double check

[2021-12-22 08:37] AndreasTA-AW opened #67 "Dbt metricw"
Cube has an idea of how to solve multiple measures in the same model for DBT. Maybe something to look at?
https://github.com/cube-js/cube.js/issues/3611

[2022-01-03 12:35] buremba commented on #67
Hey @AndreasTA-AW , unfortunately the suggested idea breaks `time_grains` and `dimensions` as each metric has its own set of dimensions in dbt metric definitions. Merging all the metrics into the same model sounds more compact but this is not the dbt's metrics vision in my opinion. For now, I believe that it's best to have one metric for each dataset in case you use dbt's metric definitions but we

[2022-01-07 06:05] chenxuanrong opened #68 "Metriql sso authentication with snowflake"
**Description**

Metriql server wasn't able to initiate connection to snowflake through SSO.

My understanding is Metriql reads connection from `profiles.yml` and use that to connect to target database. From the error information, I suspect SSO is not supported in Metriql yet?

**Error Information**

[code]

**Context**

dbt profiles

[code]

[2022-01-09 01:12] buremba commented on #68
Yes, we don't support SSO with Snowflake yet. Thanks for reporting the feature request!

[2022-01-18 20:33] AndreasTA-AW commented on #67
Yeah, that works. It would be nice to follow native dbtonic style though to be able to follow their documentation. It gets a bit spread out otherwise, but it is fine

[2022-01-20 00:34] buremba commented on #67
Yes, you're right. Feel free to open the issue if you would like to discuss further

[2022-01-20 00:34] #67 closed

[2022-02-06 20:38] #58 closed

[2022-02-06 20:39] buremba commented on #58
It looks like BIGNUMERIC is interpreted as STRING which causes SQL clients to fail. Fixed the issue, thanks for reporting!

[2022-02-10 16:09] buremba commented on #64
I thought that Trino only supports `col1 is true` but after a quick test, it looks like `col1 = true` is also a valid syntax so I will add this option to make the query work.

[2022-02-11 17:38] #64 closed

[2022-02-11 17:55] #63 closed

[2022-02-11 17:59] buremba commented on #62
Sorry for the delay. I'm trying to reproduce the issue, how do you make DataHub run that query? Looking at Trino docs, the `string` type doesn't exist so it's not a valid Trino query either. Please seee: https://trino.io/docs/current/language/types.html#string

[2022-02-11 17:59] buremba commented on #62
Are you using this integration? https://github.com/linkedin/datahub/blob/master/metadata-ingestion/source_docs/trino.md

[2022-02-11 18:18] buremba commented on #61
Just added relevant info here: https://metriql.com/reference/sql-context#measures-dimensions-and-relations

[2022-02-11 18:18] #61 closed

[2022-02-11 19:13] buremba commented on #60
The UPPER/LOWER functions are supported in projection (i.e. `SELECT UPPER(dimension)`) but we don't support it inside the WHERE because if you need to filter the dimensions with `UPPER` function, you should define the dimension that encapsulates the UPPER function with the column/SQL definition. In case you want to run native SQL queries, you should use [SQL report type](https://metriql.com/query/

[2022-02-11 19:13] #60 closed

[2022-02-11 19:14] buremba commented on #60
Feel free to open the issue if you think that the behavior is invalid or ambigious.

[2022-02-13 16:32] #59 closed

[2022-02-13 17:36] #66 closed

[2022-02-13 17:39] buremba commented on #54
I believe that the issue is resolved now. Feel free to re-open if you run into the same issue. Thanks!

[2022-02-13 17:39] #54 closed

[2022-02-13 20:29] #52 closed

[2022-03-08 21:52] lmabraidofandino opened #69 "Pass credentials to datasource"
We're running Metriql within a docker container using this command:
sudo docker run -it -p "5656:5656" -v "${DBT_PROJECT_DIR}:/root/app" -v "${DBT_PROFILES_DIR}:/root/.dbt" -e METRIQL_RUN_HOST=0.0.0.0 -e DBT_PROJECT_DIR=/root/app buremba/metriql serve --pass-credentials-to-datasource
Exception in thread "main" java.lang.NullPointerException
       at com.metriql.deployment.SingleTenantDeployment.g

[2022-03-10 16:56] tony-santos opened #70 "use ref for segmentation_totals tables or force dependencies by using "--with depends_on""
When metriql generates the model files for totals tables, it does not use the dbt ref function to order execution of the dbt models.
This can cause the totals table model to be run before the model on which it depends.
Can metriql force dependencies (https://docs.getdbt.com/reference/dbt-jinja-functions/ref#forcing-dependencies) so that the execution order of the segmentation_totals models is corr

[2022-03-10 17:03] tony-santos opened #71 "maintain column order in CTE when order of selected columns changes in segmentation queries"
Regardless of the order they are defined in model.dimensions, metriql correctly orders column definitions to accommodate dimensions that are derived from other dimensions

When the order of selected columns in a segmentation query changes, the column definition order within the CTE changes. When dimensions depend upon other dimensions, this can lead to a "column does not exist" error if the depend

[2022-03-13 19:59] buremba commented on #69
Hey there, there was a bug for the `pass-credentials-to-datasource` feature which is now fixed. Can you please try the latest version and let me know how it goes?

[2022-03-20 02:24] buremba commented on #69
Sorry for missing your message, it was fixed the day that you answered the question. :)

[2022-03-20 02:32] buremba opened #72 "Invalid query aliases when `materialize` is enabled"
From the conversation here: https://metriql.slack.com/archives/C0229LE836K/p1646700362767259

[2022-03-21 16:12] lmabraidofandino opened #73 "Building Metriql With Local, Proprietary JAR File"
RESOLVED:  We're developing an Impala adapter to use with metriql.  Impala's JAR file is proprietary and not available in Maven repositories, so we tried passing its location in the command that does a clean install of metriql within mvnw.cmd.  When the script substitutes values for the environment variables, this command is

"C:\Program Files\Java\jdk-11.0.14\bin\java.exe" -classpath "C:\path_to_

[2022-03-22 00:15] buremba commented on #73
Hey, glad that it's solved. Feel free to open the issue if you run into another issue.

[2022-03-22 00:15] #73 closed

[2022-03-28 16:46] lmabraidofandino opened #74 "How to eliminate double quotes from identifier names in metriql's automatically generated SELECT queries"
We're creating an Impala adapter for metriql. Impala does not allow double quotes around database identifiers such as schema, table, column, or alias names. So in our sample metriql project's dbt_project.yml, we included the following.
               quoting:
                               database: false
                               schema: false
                               identifier: false

[2022-03-28 21:59] buremba opened #75 "Support `HAVING (COUNT(1) > 0)` in MQL"
Looks like Tablau generates the expression. Context: https://metriql.slack.com/archives/C0229LE836K/p1648128643768699

[2022-03-30 14:48] lmabraidofandino opened #76 "Support for accessing Trino functions in SQL Context not working as expected"
To handle different SQL dialects with one metriql project, Burak suggested support for accessing Trino functions in SQL Context so we can define the SQL as follows:

               {{mql.date_add('first', 'second')}}

Burak said that in the warehouse implementation, we can define the function definition as shown here: [https://github.com/metriql/metriql/blob/251eb42397ddd047d389a16e71978390bf7fff4

[2022-04-01 16:52] lmabraidofandino opened #77 "Allow user-supplied names for precomputed tables (roll-up tables)"
Please give users the option of supplying the name that metriql will use for precomputed (roll-up) tables, including the schema in which they will be placed.  The automatically generated names may be too long for some databases.

[2022-04-05 15:29] #75 closed

[2022-04-06 10:26] oev81 opened #78 "Unknown data type: Array(String)"
Bug with array types in Сlickhouse.
Seems like the problem appeared in #65
Revision [daad675147c77eda82e46103be712a3af7ac6c47](https://github.com/metriql/metriql/commit/daad675147c77eda82e46103be712a3af7ac6c47) works.

[code]

[2022-04-09 01:38] #78 closed

[2022-04-09 01:38] buremba commented on #78
Thanks for reporting the bug. Can you please try if it's working in latest?

[2022-05-23 14:21] lmabraidofandino commented on #69
I just confirmed that on an AWS EC2 instance, **docker pull buremba/metriql:latest** and **docker run -it -p "${METRIQL_PORT}:5656" -v "${DBT_PROJECT_DIR}:/root/app" -v "${DBT_PROFILES_DIR}:/root/.dbt" -e METRIQL_RUN_HOST=0.0.0.0 -e DBT_PROJECT_DIR=/root/app buremba/metriql \
 serve** work correctly.  I am able to use DBeaver to view the metriql data without getting **SQL Error: Authentication fai

[2022-05-23 14:58] buremba commented on #69
Thanks for letting me know!

[2022-05-25 14:24] forestlzj opened #80 "unable to compile 0.6-SNAPSHOT"
when running "mvn compile" :

[code]

[2022-05-26 02:00] mjirv opened #81 "Does not support count_distinct dbt metric type"
To replicate, define a metric with `type: count_distinct`.

For example:
[code]

Running `metriql serve` gives the following output:
[code]

This can be "fixed" by changing the dbt metric so the type is `count_unique` which I believe is a valid metriql type but not a valid dbt metric type.

[2022-05-26 02:07] mjirv opened #82 "Metriql cannot find parent models of dbt metrics"
I have a (valid) dbt metric defined as follows:
[code]

When running `metriql serve` I get the following error:

[code]

I have a model named `orders`, ran `dbt compile` just before running `metriql serve`, and confirmed the `orders` model is in my `manifest.json`.

Changing quotation styles and including the package name did not help.

[2022-05-26 12:00] buremba commented on #80
Which Java version are you running on? Metriql supports Java 11 and looking at the code, it seems like you're maybe running on 1.8?

[2022-05-26 15:57] forestlzj commented on #80
I am running it on java 1.8.  It is resolved after running on java 11.
Thanks reply!

[2022-05-26 15:57] #80 closed

[2022-05-26 16:14] #81 closed

[2022-05-26 16:15] buremba commented on #81
Metriql now supports `count_distinct` since it's explicitly mentioned in dbt Docs but unfortunately, AFAIK dbt doesn't really have a set of dbt metric types, it's just an example in the docs but it can be any kind of string. Please correct me if I'm wroing.

[2022-05-26 16:29] buremba commented on #82
Hmm, I believe that it's because your dbt model doesn't have `meta.metriql` property and since Metriql ignores these dbt resources, it's not able to resolve the reference. I just added a warning here: https://metriql.com/reference/dataset/

That being said, it seems to be an edge case that we need to think about. What do you think about the best approach? Maybe we can allow other entities to resol

[2022-05-27 01:01] mjirv commented on #82
Oh I see, I didn't realize I needed to add that. Thank you!

To me, it would make sense to parse the dependencies but not expose them, like you say.

FYI that it looks like your warning isn't being rendered correctly.
![image](https://user-images.githubusercontent.com/5953854/170607787-566e3c23-cab5-4b5f-b72d-3bdf90fc57ac.jpeg)

[2022-05-27 01:03] mjirv commented on #81
Yeah they don't have it documented well. The best source of truth I know of is [this if statement](https://github.com/dbt-labs/dbt_metrics/blob/a9d0feec7165303b1d16c30714eb601a55143b66/macros/aggregate_primary_metric.sql#L8), lol

[2022-05-28 13:53] buremba commented on #81
Yeah, that's a good start. They will probably support them in the upcoming products which will be part of dbt Cloud but for now Metriql already supports these aggregations. :)

[2022-06-14 16:36] buremba commented on #71
Is this because the target data warehouse can't resolve the column name as it's not defined or is the query not valid? I'm not able to reproduce the issue, do you mind explaining it with an example and including the invalid SQL here?

[2022-06-14 16:36] #77 closed

[2022-06-14 20:55] lmabraidofandino commented on #77
Thanks.  The link for the documentation is broken.  I get a 404 error.

[2022-06-17 12:58] KrisAnTis-Group opened #85 "Error Date-DateTime column in ClickHouse-Metriql"
@buremba
There is a problem with using Date-DateTime fields that have null values.

We use Metriql to bundle dbt, ClickHouse, Metriql, Google Data Studio technologies.
after some update, errors began to appear in the GDS of the form:

![image](https://user-images.githubusercontent.com/40943215/174298936-030dc565-8a78-4232-9530-70a5fb9b0dcc.png)

Errors occur when the column is of type Date or Date

[2022-06-20 09:19] KrisAnTis-Group opened #86 "Read timed out | socket_timeout does not work"
We have problems with Read timed.

We have set our configurations after the update (https://github.com/metriql/metriql/commit/1e6c71708a11bc3cc4957c1a1afea383421bcba9) в
[code]

However, it didn't help. We use a simple query for testing:
[code]
Which returns the following query from the database (used by DBeaver with increased socket_timeout settings):
![image](https://user-images.githubuserconten

[2022-08-18 13:50] edlouth opened #87 "Repeated Alias"
I have been following the example here https://metriql.com/tutorial/for-starters

When I run
[code]

I get the following response
[code]

which has two `AS t1`, hence it show a compliation error.

My `schema.yml` looks like this
[code]

[2022-08-24 02:07] buremba commented on #87
Sorry for the delay and thanks for letting you know about the issue. There was a regression in one of the recent versions but it should be fixed now. Can you please try it again?

[2022-09-29 08:32] akshay9319 commented on #6
Hi All, Greetings of the day! I am trying to do a POC on on using metriql as a metric layer between Redshift and Tableau. Have followed the steps highlighted in the below link for the same. However, I am facing the attached error when trying to download the .tds file. Could someone please assist, on what could I be missing?

![](https://files.slack.com/files-pri/T023E7JM6QY-F043V8VFTC6/screenshot_

[2022-10-05 00:20] buremba commented on #6
Hey @akshay9319 ! Sorry for the delay, we were out for the last week. Can you please send the metadata of the Metriql instance that you're running? It should be somewhere here: https://demo.metriql.com/api/v0/metadata

[2022-10-07 06:56] akshay9319 commented on #6
Hey @buremba, no worries! Shared the metadata over the Slack thread. Please check and advise.

[2022-10-07 07:17] prince-lumiq commented on #6
Hii @buremba I am having aslo the exact error while downloading the TDS file.
My metadata file ithis:-
[metadata.zip](https://github.com/metriql/metriql/files/9731511/metadata.zip)

[2022-10-17 12:59] Tolli opened #89 "Neo4j support"
Hi, we would like to use metriql with neo4j through dbt. We are not aware of any community work on dbt/neo4j/metriql, maybe there is one? We have been exploring options and have found a sql driver framework that we could probably get to work with our neo4j queries. Does anyone have any information that could help us utilize our neo4j data in metriql?

[2022-11-09 16:12] hazel-arbor opened #91 "dbt 1.3.0 has changed raw_sql to raw_code"
When compiling the manifest file with dbt 1.3.0 it is being created with 'raw_code' used instead of 'raw_sql' which appears to be breaking it.

[2022-11-23 03:39] lialzm opened #92 "how to use pivots propertie?"
Hi teams

have some example about pivots?

I use pivot like below

[code]

but it can't work,when request rest api

[code]